#version=DEVEL

url --mirrorlist="http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os"

# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Reboot after installation
reboot

# System timezone
timezone Europe/Zurich

# Network informations
network  --bootproto=dhcp --device=eth0 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# System language
lang en_US

# System authorization information
auth  --useshadow  --passalgo=sha512

# ignore disk
ignoredisk --only-use=vda

# root password
rootpw --iscrypted "$6$HQqKwELG0sEj.EYa$CCd6TIffsH8xOZrRbGJEPu/4j/4ySZTKb3Av.y6t7mm8R1o4td/FpE8CJPmVkrzIRvPijD1hUksLvqyKuVL0A."

# System services
services --enabled="chronyd"

# centos user
user --name=centos --groups=wheel --gecos="centos" --iscrypted --password="$6$HlM25N/mcKnBCp9H$wFbN4fhFvU49ps501C2DcyHfQoo/1hZ3NRvw/dA.GSXVEYn30/oBsc5wwPUcBXoM2lD6I2KxNdR3cpNGS8Kcl."

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Run the Setup Agent on first boot
firstboot --enable

# Do not configure the X Window System
skipx
# Accept EULA without user interaction
eula --agreed

# Partition clearing information
clearpart --all --initlabel
zerombr

# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=vda --size=300 --fsoptions="umask=0077,shortname=winnt"
part / --fstype="xfs" --ondisk=vda --grow

# Packages
%packages --excludedocs
@^minimal
@core
chrony
cloud-init
cloud-utils-growpart
gdisk
dracut-config-generic
dracut-norescue
firewalld
kexec-tools
openssh-clients
openssh-server
sudo
wget
curl
rsync
tar
yum-utils
-NetworkManager
-aic94xx-firmware
-alsa-firmware
-alsa-lib
-alsa-tools-firmware
-biosdevname
-iprutils
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-plymouth

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post

# configure ssh keys
mkdir /home/centos/.ssh

cat <<EOF >/home/centos/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCRkjPBNOb6JjMJQU2vcK8ws+b2z9G1w0BdS27NIWHGC/Z2qjElLdTwQEFigP404Be3w5snQ5t8L0Gt810nuCFKjK4C/tWLcBeh+1rJF3EAmticRLTpTtOADUSaqquSR8kplgpyj6L2PBcJAmTeXa6xpp8CLERQBabZW3hkIoigp5DGtnd6MPs0jI/Wlp1gog1IP/JRjPHR8Br8YpoKMOIR4X/+RF3w3edsmGwsxS8PtLhnyUKmufQx0xCVEq8v6CL6bdegZLbHmSlDTUoR6p+v0zHlABHdmh+x8eLOxlGMIrdB/giOg6zeiY/XyVsRrcF2f3a6rV3I2jcjxk/LDf1AZKWlYSiRnNcnpa9EB/ebLO/8Yul1tXOMDM00VQtvGQf/YwO6JVpXcjs7q16qGEYtIHCwgGcKt6dE50lZ2n6zvvZNoC38z6gH8MUKxuPaAwhL3rR5FW2ZQwbIywoZiw2SZqqWYV3CECtjmnUF+vyDArHl9w2zNZI5YUGhzGviLaX3hdFkOXAlk497lJ8/ze3gdwutmO/2R6DL12pVCpDYw5CXsHyxgBYTh30MLTC3a18CV3bGkjGcW6/xVeQV7FPaPYcJTvShsIRNO1AfbU4DySo7kajh9OddtzU/kPj0RL5MTOQmu1u4jHYy0DATdWZhNWMmHI3hzmIhmiAfN8OXlw== packer
EOF

chown -R centos:centos /home/centos/.ssh

chmod 0600 /home/centos/.ssh/authorized_keys
chmod 0600 /home/centos/.ssh/

# unlock centos user
passwd -u centos

%end
